@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-ibm: "IBM Plex Mono", monospace;
  --font-raleway: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background: #080808;
  height: 700px;
}

.menu {
  max-width: 1100px;
  background: #1b1b1b;
  height: 70px;
  border-radius: 0 0 8px 8px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-right: 95px;
}

.menu_bar ul,
.menu_social ul{
  display: flex;
  list-style: none;
}

.menu_bar a {
  color: #9C9C9C;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding: 27px 35px;
  transition: all 0.5s ease;
  font-family: var(--font-ibm);

}

.menu_bar a:hover {
  background: #9C9C9C;
  color: #1b1b1b;
}

.menu_social ul {
  align-items: center;
  height: 100%;
  gap: 25px;
}

.menu_social img{
  transition: all 0.5s ease;
}

.menu_social img:hover {
  transform: scale(1.2)
}

.hero_content {
  margin: auto;
  margin-top: 80px;
  max-width: 920px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.hero_content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  font-family: var(--font-raleway)
}

.hero_content p {
  line-height: 24px;
  font-size: 14px;
  color: #9C9C9C;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: var(--font-ibm);
}

.btn_green {
  background: #3F8E00;
  border: 1px solid #62BA1B;
  border-radius: 4px;
  display: flex;
  width: 307px;
  height: 63px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-ibm);
}
.worked_with p{
  margin: auto;
  margin-top: 93px;
  max-width: 920px;
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  color: #9C9C9C;
   
} 
.worked_with ul{
  
  width: 920px;
  height: 60px;
  left: 180px;
  top: 595px;
  margin: auto;
  display: flex;
  align-content: center;
}
.worked_with img{
  width: 160px;
  height: 60px;
  left: 190px;
  top: 0px;
  border-radius: 0 0 6px 6px;
  justify-content: space-between;
  padding-right: 30px;
}
/*PIRMERA PARTE TERMINADA, CREO*/
.case {
  width: 897;
  height: 1242px;
  background: #fff;
  align-items: center;
}
.case_studies h1{
  color: #080808;
  font-family: var(--font-ibm);
  font-size: 34px;
  font-weight: 700;

}
.case_studies p {
  color: #9C9C9C;
  font-family: var(--font-raleway);
  font-size: 14px;

}
.fintech{
  width: 892;
  height: 300px;
}
.fintech h2,
.edtech h2,
.pharma h2{
  color: #080808;
  font-family: var(--font-raleway);
  font-size: 24px;
  font-weight: 700;

}
.fintech p,
.edtech p,
.pharma p{
  color: #9C9C9C;
  font-family: var(--font-ibm);
  font-size: 14px;
}




.testi ,
.testimonials_text 
.card{
  background-color: #080808;
  

}
.testimonials_text h1{
  color: #fff;
  font-family: var(--font-raleway);
  font-size: 34px;
  font-weight: 800;
}
.card p{
  color: #9C9C9C;
  font-family: var(--font-ibm);
  font-size: 14px;
}


.card h5{
  color: #fff;
  font-family: var(--font-raleway);
  font-size: 18px;
  font-weight: 800;

}
.recent ,
.recent_text{
  background: #fff;
}

